@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@900&display=swap');
.E{
    fill:none;
    font-size: 200px;
    font-family: 'Robot-Bold';;
}
.mongoLogo{
    visibility: hidden;
    fill-rule:evenodd;
    clip-rule:evenodd;
    fill:#4FAA41;
    display:inline;
}
.reactLogo{
    visibility: hidden;
}
.code{
    visibility: hidden;
}

.growth{
    visibility: hidden;
}

.growth2{
    visibility: hidden;
}

.passion{
    visibility: hidden;
}
.code2{
    visibility: hidden;
}

.grit{
    visibility: hidden;
}

.sun{
    visibility: hidden;
}

.moon{
    visibility: hidden;
}

.leftMountain{
    visibility: hidden;
}

.centerMountain{
    visibility: hidden;
}

.rightMountain{
    visibility: hidden;
}
/* .E{
    visibility:hidden;
}
.J{
    visibility:hidden;
} */


