
.code{
    visibility: hidden;
}

.passion{
    visibility: hidden;
}
.code2{
    visibility: hidden;
}

.grit{
    visibility: hidden;
}



.leftMountain{
    visibility: hidden;
}

.centerMountain{
    visibility: hidden;
}

.rightMountain{
    visibility: hidden;
}
.st0{font-family:'Myriad-Roman';}
.st1{font-size:232.6187px;}
.st2{font-family:'MyriadPro-Regular';}
.st3{font-size:348.928px;}

/* 

#st0{font-family:'Myriad-Roman';}
			#st1{font-size:200px;}
			#st2{font-family:'MyriadPro-Regular';}
			#st3{font-size:240px;} */